@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans:
        "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-header:
        "Geomini", ui-sans-serif, system-ui, -apple-system, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-border: #ac93ec;
    --color-text: #0c051a;
    --color-background: #f2eefc;
    --color-primary: #33197b;
    --color-secondary: #e19c6b;
    --color-accent: #b4be27;

    /* Typography */
    --text-body-large: 16px;
    --text-body-medium: 14px;
    --text-body-small: 12px;
    --text-headline-large: 32px;
    --text-headline-medium: 28px;
    --text-headline-small: 24px;
    --text-title-large: 22px;
    --text-title-medium: 16px;
    --text-title-small: 14px;
    --text-label-large: 14px;
    --text-label-medium: 12px;
    --text-label-small: 11px;
    --text-display-large: 57px;
    --text-display-medium: 45px;
    --text-display-small: 36px;
}

@layer theme {
    :root,
    :host {
        @variant dark {
            --color-border: #351782;
            --color-text: #ece5fa;
            --color-background: #070311;
            --color-primary: #9e84e6;
            --color-secondary: #944f1e;
            --color-accent: #ced841;
        }
    }
}
